.footer 
	background $footer-bg
	margin-top 1rem
	padding 0 2.9rem
	line-height 4.5rem
	position absolute 
	width 100%
	height auto
	font-size 1.3rem
	p 
		color $text-color-light 
	a
		color $text-color-light 
		display block
		width 100%
		height 40px
.footer-index
	background $footer-bg
	margin-top 1rem
	padding 0 2.9rem
	line-height 4.5rem
	position absolute 
	width 100%
	height 55px
	font-size 1.3rem
	bottom 0
	p 
		color $text-color-light 
	a
		color $text-color-light 
		display block
		width 100%
		height 40px
		&:hover 
			color $text-color-light 
		
	.brand-footer
		position relative
		top -2.5rem
		
	.ft 
		top .5rem