li
	margin-left 1em

.nav > li > a 
	padding 10px 1px 0 0
	margin 0 8px
	margin 0 14.5px

.nav > li > a:hover, .nav > li > a:focus
	background-color transparent

.navbar.navbar-default.navbar-fixed-top 
	background $menu-light
	border-color transparent
	padding 22px 0
	height 83px

.navbar-default .navbar-nav li 
	& > a 
		font-size 1.25rem
		color $text-color
	& > .item-menu
		transition-menu .1s ease-in
	& > .item-menu:hover 
		border-bottom 3px solid $font-active-color
		transition-menu .2s ease-in
	&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5)
		margin-left -0.1rem
	&:last-child 
		position absolute
		left 41.5rem
		top -2px
		width 337px
		background url('../images/view-cart.svg') no-repeat 100% 100%
		background-position -7px -14px
		&:hover 
			background url('../images/view-cart_hover.svg') no-repeat 100% 100%
			background-position -7px -14px
		& > a 
			color $text-color
			margin-left  7rem
			text-transform uppercase
			font-size 1rem
			height 50px
			line-height 2.25rem
			&:hover 
				color $text-color
			& > img
				width 25%
				position absolute 
				top -.6rem
				left 5.9rem

.nav.navbar-nav.navbar-right 
	margin-right 3.5rem;

.navbar-header 
	margin-top -22px

.brand 
	display block
	height auto
	position absolute
	top -10px
	left -7px
	z-index 2
	img 
		max-width 100%
		width 500px
		
.main-menu 
	top -1rem
	left -14.5rem
	position relative
	
.nav-line 
	position absolute
	height 4px
	background $navbar-line
	width 100%
	border-top 0
	left 60rem
	top 1.5rem

.navbar-products
	position absolute
	width 100%
	height 3.3rem
	left 15rem
	background $menu-dark
	top 3.9rem 
	li 
		float right
		font-size 1.25rem
		margin-left 0
		&:hover 
			background url('../images/shadow-sub.png')
			background-size 100% 100%
			background-position 0 -1px 
			background-repeat no-repeat 
			height 33px
		&:first-child 
			width 34rem
			background url('../images/docs-bg.svg') no-repeat
			height 63px
			background-position 29px -23px
			background-size 100% 133%
			&:hover 
				background url('../images/docs-bg-hover.svg') no-repeat
				width 34rem
				background-position 31px -25px
				background-size 95% 134%
				height 60px
				
			& > a 
				color $text-color-light
				margin-left 9rem
				
		&:nth-child(2)
			margin-right -5.8rem
			padding .5rem 3.2rem 0 2rem
			transform skew(29deg)
			transform skew(29deg)
			-webkit-transform: skew(29deg)
			-moz-transform skew(29deg)
			-ms-transform skew(29deg)
			& > a 
				margin-top -6px
				margin-left 0
				-webkit-transform skew(-29deg)
				-moz-transform skew(-29deg)
				-ms-transform skew(-29deg)
				transform skew(-29deg)
			&:hover 
				background  #888
				margin-right -6.1rem
				padding-right 3.3rem
				margin-left .2rem
		&:nth-child(3) 
			padding-left .5rem
			padding-right .6rem
			margin-right .1rem
			position relative
			left 0
			-webkit-transform skew(29deg)
			-moz-transform skew(29deg)
			-ms-transform skew(29deg)
			transform skew(29deg)
			&:hover 
				background  #888
				left 0
				padding-right .55rem 
				margin-right 0
				margin-left .15rem 
			& > a 
				-webkit-transform: skew(-29deg);
				-moz-transform: skew(-29deg);
				-ms-transform: skew(-29deg);
		&:last-child
			padding-left 1rem
			padding-right 1.15rem
			margin-right: 0;
			position relative
			left 0
			transform: skew(29deg);
			-webkit-transform: skew(29deg);
			-moz-transform: skew(29deg);
			-ms-transform: skew(29deg);
			&:hover 
				background #888
				margin-right 0
				padding-right 1rem
				left 0
			& > a 
				-webkit-transform: skew(-29deg);
				-moz-transform: skew(-29deg);
				-ms-transform: skew(-29deg);
		& > a 
			color $text-color
			
.buynow-container 
	position absolute
	top 10rem
	right 13.5rem
	z-index 1
	a 
		display block
		height 100%

//Generic styles for Netbook 10"
@media screen and (min-width 1024px) and (min-height 600px)
	.brand 
		left -95px

	.nav.navbar-nav.navbar-right
		margin-right -10.5rem !important
		
	.navbar-default .navbar-nav li:last-child
		left 39.5rem
		
	.navbar-default .navbar-nav li:last-child > a
		margin-left 6rem
	.navbar-default .navbar-nav li:last-child > a > img
		left 3.6rem
	.navbar-products  
		left 27.2rem 

	.navbar-products li:first-child > a
		line-height 1.3
		margin-left 8rem 
	.nav-line
		left 50rem
	.buynow-container 
		top 8rem


//Generic styles for Netbook 10"
@media screen and (min-width 1280px) and (min-height 800px)
	.brand
		left -7px
	.navbar-products
		position absolute
		width 100%
		height 3.3rem
		left 15rem
		background $menu-dark
		top 3.9rem 
		li 
			float right
			font-size 1.25rem
			margin-left 0
			&:hover 
				background url('../images/shadow-sub.png')
				background-size 100% 100%
				background-position 0 -1px 
				background-repeat no-repeat 
				height 33px
			&:first-child 
				width 34rem
				background url('../images/docs-bg.svg') no-repeat
				height 63px
				background-position 29px -23px
				background-size 100% 133%
				&:hover 
					background url('../images/docs-bg-hover.svg') no-repeat
					width 34rem
					background-position 31px -25px
					background-size 95% 134%
					height 60px
					
				& > a 
					color $text-color-light
					margin-left 9rem
					
			&:nth-child(2)
				margin-right -5.8rem
				padding .5rem 3.2rem 0 2rem
				transform skew(29deg)
				transform skew(29deg)
				-webkit-transform: skew(29deg)
				-moz-transform skew(29deg)
				-ms-transform skew(29deg)
				& > a 
					margin-top -6px
					margin-left 0
					-webkit-transform skew(-29deg)
					-moz-transform skew(-29deg)
					-ms-transform skew(-29deg)
					transform skew(-29deg)
				&:hover 
					background  #888
					margin-right -6.1rem
					padding-right 3.3rem
					margin-left .2rem
			&:nth-child(3) 
				padding-left .5rem
				padding-right .6rem
				margin-right .1rem
				position relative
				left 0
				-webkit-transform skew(29deg)
				-moz-transform skew(29deg)
				-ms-transform skew(29deg)
				transform skew(29deg)
				&:hover 
					background  #888
					left 0
					padding-right .55rem 
					margin-right 0
					margin-left .15rem 
				& > a 
					-webkit-transform: skew(-29deg);
					-moz-transform: skew(-29deg);
					-ms-transform: skew(-29deg);
			&:last-child
				padding-left 1rem
				padding-right 1.15rem
				margin-right: 0;
				position relative
				left 0
				transform: skew(29deg);
				-webkit-transform: skew(29deg);
				-moz-transform: skew(29deg);
				-ms-transform: skew(29deg);
				&:hover 
					background #888
					margin-right 0
					padding-right 1rem
					left 0
				& > a 
					-webkit-transform: skew(-29deg);
					-moz-transform: skew(-29deg);
					-ms-transform: skew(-29deg);
			& > a 
				color $text-color
	.nav.navbar-nav.navbar-right 
		margin-right 3.5rem !important

	.navbar-default .navbar-nav li 
		& > a 
			font-size 1.25rem
			color $text-color
		& > .item-menu
			transition-menu .1s ease-in
		& > .item-menu:hover 
			border-bottom 3px solid $font-active-color
			transition-menu .2s ease-in
		&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5)
			margin-left -0.1rem
		&:last-child 
			position absolute
			left 41.5rem
			top -2px
			width 337px
			background url('../images/view-cart.svg') no-repeat 100% 100%
			background-position -7px -14px
			&:hover 
				background url('../images/view-cart_hover.svg') no-repeat 100% 100%
				background-position -7px -14px
			& > a 
				color $text-color
				margin-left  7rem
				text-transform uppercase
				font-size 1rem
				height 50px
				line-height 2.25rem
				&:hover 
					color $text-color
				& > img
					width 25%
					position absolute 
					top -.6rem
					left 5.9rem

@media screen and (min-width 1366px) and (min-height 768px)
	.navbar-products
		position absolute
		width 100%
		height 3.3rem
		left 15rem
		background $menu-dark
		top 3.9rem 
		li 
			float right
			font-size 1.25rem
			margin-left 0
			&:hover 
				background url('../images/shadow-sub.png')
				background-size 100% 100%
				background-position 0 -1px 
				background-repeat no-repeat 
				height 33px
			&:first-child 
				width 34rem
				background url('../images/docs-bg.svg') no-repeat
				height 63px
				background-position 29px -23px
				background-size 100% 133%
				&:hover 
					background url('../images/docs-bg-hover.svg') no-repeat
					width 34rem
					background-position 31px -25px
					background-size 95% 134%
					height 60px
					
				& > a 
					color $text-color-light
					margin-left 9rem
					
			&:nth-child(2)
				margin-right -5.8rem
				padding .5rem 3.2rem 0 2rem
				transform skew(29deg)
				transform skew(29deg)
				-webkit-transform: skew(29deg)
				-moz-transform skew(29deg)
				-ms-transform skew(29deg)
				& > a 
					margin-top -6px
					margin-left 0
					-webkit-transform skew(-29deg)
					-moz-transform skew(-29deg)
					-ms-transform skew(-29deg)
					transform skew(-29deg)
				&:hover 
					background  #888
					margin-right -6.1rem
					padding-right 3.3rem
					margin-left .2rem
			&:nth-child(3) 
				padding-left .5rem
				padding-right .6rem
				margin-right .1rem
				position relative
				left 0
				-webkit-transform skew(29deg)
				-moz-transform skew(29deg)
				-ms-transform skew(29deg)
				transform skew(29deg)
				&:hover 
					background  #888
					left 0
					padding-right .55rem 
					margin-right 0
					margin-left .15rem 
				& > a 
					-webkit-transform: skew(-29deg);
					-moz-transform: skew(-29deg);
					-ms-transform: skew(-29deg);
			&:last-child
				padding-left 1rem
				padding-right 1.15rem
				margin-right: 0;
				position relative
				left 0
				transform: skew(29deg);
				-webkit-transform: skew(29deg);
				-moz-transform: skew(29deg);
				-ms-transform: skew(29deg);
				&:hover 
					background #888
					margin-right 0
					padding-right 1rem
					left 0
				& > a 
					-webkit-transform: skew(-29deg);
					-moz-transform: skew(-29deg);
					-ms-transform: skew(-29deg);
			& > a 
				color $text-color
	.nav.navbar-nav.navbar-right 
		margin-right 3.5rem !important

	.navbar-default .navbar-nav li 
		& > a 
			font-size 1.25rem
			color $text-color
		& > .item-menu
			transition-menu .1s ease-in
		& > .item-menu:hover 
			border-bottom 3px solid $font-active-color
			transition-menu .2s ease-in
		&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5)
			margin-left -0.1rem
		&:last-child 
			position absolute
			left 41.5rem
			top -2px
			width 337px
			background url('../images/view-cart.svg') no-repeat 100% 100%
			background-position -7px -14px
			&:hover 
				background url('../images/view-cart_hover.svg') no-repeat 100% 100%
				background-position -7px -14px
			& > a 
				color $text-color
				margin-left  7rem
				text-transform uppercase
				font-size 1rem
				height 50px
				line-height 2.25rem
				&:hover 
					color $text-color
				& > img
					width 25%
					position absolute 
					top -.6rem
					left 5.9rem




	




















