li
	margin-left 1em
	
.navbar.navbar-default.navbar-fixed-top 
	padding 22px 0

.navbar-default .navbar-nav li 
	& > a 
		font-size 12.31pt
		color black
	& > a:hover
		color $font-active-color

.brand > img 
	width 498px
	height auto
	position relative
	top -30px
	left 0