li
	margin-left 1em
	
.navbar.navbar-default.navbar-fixed-top 
	padding 22px 0

.navbar-default .navbar-nav li 
	& > a 
		font-size 12.31pt
		color black
	& > a:hover
		color $font-active-color

.nav.navbar-nav.navbar-right 
	margin-right 13.5rem;

.brand 
	display block
	width 580px
	height auto
	position relative
	top -30px
	left -215px
	img 
		max-width 100%
		
.main-menu 
	top -4.5em
	position relative