@font-face {
  font-family: 'gandhi';
  src: url("../fonts/GandhiSans-Regular-webfontt.eot");
  src: url("../fonts/GandhiSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/GandhiSans-Regular-webfont.woff2") format('woff2'), url("../fonts/GandhiSans-Regular-webfont.woff") format('woff'), url("../fonts/GandhiSans-Regular-webfont.ttf") format('truetype'), url("../fonts/GandhiSans-Regular-webfont.svg#gandhi") format('svg');
  font-weight: normal;
  font-style: normal;
}
.active-item {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 3rem;
  left: 0;
  background: #cc3;
}
body {
  font-family: 'gandhi', Arial, Verdana;
  background: #d6e0c1;
  font-size: 16px;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: ;
  -webkit-box-sizing: ;
  -ms-box-sizing: ;
  box-sizing: ;
}
.page-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
li {
  margin-left: 1em;
}
.nav > li > a {
  padding: 10px 1px 0 0;
  margin: 0 8px;
  margin: 0 14.5px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
.navbar.navbar-default.navbar-fixed-top {
  background: rgba(217,220,218,0.9);
  border-color: transparent;
  padding: 22px 0;
  height: 83px;
}
.navbar-default .navbar-nav li > a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
}
.navbar-default .navbar-nav li > .item-menu {
  -webkit-transition: 0.1s ease-in;
  -ms-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.navbar-default .navbar-nav li > .item-menu:hover {
  border-bottom: 3px solid #cc3;
  -webkit-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.navbar-default .navbar-nav li:nth-child(2),
.navbar-default .navbar-nav li:nth-child(3),
.navbar-default .navbar-nav li:nth-child(4),
.navbar-default .navbar-nav li:nth-child(5) {
  margin-left: -0.1rem;
}
.navbar-default .navbar-nav li:last-child {
  position: absolute;
  left: 38rem;
  top: -2px;
  width: 337px;
  background: url("../images/view-cart.svg") no-repeat 100% 100%;
  background-position: -7px -14px;
}
.navbar-default .navbar-nav li:last-child:hover {
  background: url("../images/view-cart_hover.svg") no-repeat 100% 100%;
  background-position: -7px -14px;
}
.navbar-default .navbar-nav li:last-child > a {
  color: #000;
  margin-left: 7rem;
  text-transform: uppercase;
  font-size: 1rem;
  height: 50px;
  line-height: 2.25rem;
}
.navbar-default .navbar-nav li:last-child > a:hover {
  color: #000;
}
.navbar-default .navbar-nav li:last-child > a > img {
  width: 25%;
  position: absolute;
  top: -0.6rem;
  left: 5.9rem;
}
.nav.navbar-nav.navbar-right {
  margin-right: 3.5rem;
}
.navbar-header {
  margin-top: -22px;
}
.brand {
  display: block;
  height: auto;
  position: absolute;
  top: -10px;
  left: -7px;
  z-index: 2;
}
.brand img {
  max-width: 100%;
  width: 500px;
}
.main-menu {
  top: -1rem;
  left: -14.5rem;
  position: relative;
}
.nav-line {
  position: absolute;
  height: 4px;
  background: #000;
  width: 100%;
  border-top: 0;
  left: 60rem;
  top: 1.5rem;
}
.navbar-products {
  position: absolute;
  width: 100%;
  height: 3.3rem;
  left: 15rem;
  background: rgba(34,31,31,0.3);
  top: 3.9rem;
}
.navbar-products li {
  float: right;
  font-size: 1.1rem;
}
.navbar-products li:first-child {
  width: 34rem;
  background: url("../images/docs-bg.svg") no-repeat;
  height: 63px;
  background-position: 29px -23px;
  background-size: 98% 133%;
}
.navbar-products li:first-child:hover {
  background: url("../images/docs-bg-hover.svg") no-repeat;
  width: 34rem;
  background-position: 30px -27px;
  background-size: 95% 134%;
  height: 60px;
}
.navbar-products li:first-child > a {
  color: #fff;
  margin-left: 9rem;
}
.navbar-products li:nth-child(2) {
  margin-left: 0;
  margin-right: -3.5rem;
}
.navbar-products li:nth-child(3) {
  margin-left: 0;
  margin-right: 1rem;
}
.navbar-products li:last-child {
  margin-right: 1rem;
}
.navbar-products li > a {
  color: #000;
  font-weight: bold;
}
.buynow-container {
  position: absolute;
  top: 9rem;
  right: 13.5rem;
}
.buynow-container a {
  display: block;
  height: 100%;
}
.news-menu {
  width: 27rem;
  height: 13rem;
  position: absolute;
  top: 46rem;
  left: 13rem;
}
.news-menu .btn-latest-news,
.news-menu .btn-antisplash {
  display: inline-block;
  width: 49%;
  height: 100%;
}
.news-menu .btn-latest-news {
  background: url("../images/sprite-news.png") no-repeat;
  background-position: 0 -6px;
  background-size: 262px;
}
.news-menu .btn-antisplash {
  background: url("../images/sprite-news.png") no-repeat;
  background-position: -130px -6px;
  background-size: 262px;
}
.menuProducts-container {
  background: url("../images/menuProducts-container.png") no-repeat;
  background-position: -8px 0;
  background-size: 125%;
  position: absolute;
  width: 267px;
  height: 290px;
  top: 28rem;
  right: 17rem;
  z-index: 4;
}
.menuProducts-container:after {
  content: "";
  height: 48px;
  width: 206px;
  position: absolute;
  border-radius: 50%;
  left: 5.5rem;
  top: 25rem;
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: rotateX(54deg);
  -ms-transform: rotateX(54deg);
  -moz-transform: rotateX(54deg);
  transform: rotateX(54deg);
  background: rgba(0,0,0,0.13);
  z-index: 2;
}
.nav-products {
  list-style: none;
  width: 214px;
  position: relative;
  top: 8rem;
  left: 1.5rem;
}
.nav-products .item-product {
  height: 46px;
  width: 100%;
}
.nav-products .item-product:first-child {
  width: 100%;
}
.nav-products .item-product:first-child .item-logo {
  display: block;
  width: 100%;
  height: 46px;
  background: url("../images/power-logo.svg"), url("../images/sprite-products.png");
  background-size: 89%, 49%;
  background-repeat: no-repeat, no-repeat;
  background-position: -4px -6px, 103px -13px;
}
.nav-products .item-product:first-child .item-buy {
  position: relative;
  top: -3.46rem;
  left: 16.16rem;
  color: #cc3;
  font-size: 1rem;
  text-transform: uppercase;
  background: url("../images/buy-btn.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  padding: 0.16rem 0 1rem 0;
  display: block;
  height: 20px;
  width: 89px;
  text-indent: 1.9rem;
  top: -3.29rem;
  left: 16.18rem;
}
.nav-products .item-product:first-child .item-buy:hover {
  background: url("../images/buy-btn_hover.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  text-decoration: none;
}
.nav-products .item-product:nth-child(2) {
  width: 100%;
}
.nav-products .item-product:nth-child(2) .item-logo {
  display: block;
  width: 100%;
  height: 46px;
  background: url("../images/ekcos-logo.svg"), url("../images/sprite-products.png");
  background-size: 89%, 49%;
  background-repeat: no-repeat, no-repeat;
  background-position: -4px -6px, 101px -60px;
}
.nav-products .item-product:nth-child(2) .item-buy {
  position: relative;
  top: -3.46rem;
  left: 16.16rem;
  color: #cc3;
  font-size: 1rem;
  text-transform: uppercase;
  background: url("../images/buy-btn.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  padding: 0.16rem 0 1rem 0;
  display: block;
  height: 20px;
  width: 89px;
  text-indent: 1.9rem;
  top: -3.16rem;
  left: 16.1rem;
}
.nav-products .item-product:nth-child(2) .item-buy:hover {
  background: url("../images/buy-btn_hover.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  text-decoration: none;
}
.nav-products .item-product:nth-child(3) {
  width: 100%;
}
.nav-products .item-product:nth-child(3) .item-logo {
  display: block;
  width: 100%;
  height: 46px;
  background: url("../images/trap-logo.svg"), url("../images/sprite-products.png");
  background-size: 89%, 49%;
  background-repeat: no-repeat, no-repeat;
  background-position: 7px -6px, 103px -106px;
}
.nav-products .item-product:nth-child(3) .item-buy {
  position: relative;
  top: -3.46rem;
  left: 16.16rem;
  color: #cc3;
  font-size: 1rem;
  text-transform: uppercase;
  background: url("../images/buy-btn.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  padding: 0.16rem 0 1rem 0;
  display: block;
  height: 20px;
  width: 89px;
  text-indent: 1.9rem;
  top: -3.19rem;
  left: 16.29rem;
}
.nav-products .item-product:nth-child(3) .item-buy:hover {
  background: url("../images/buy-btn_hover.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  text-decoration: none;
}
.nav-products .item-product:last-child {
  width: 100%;
}
.nav-products .item-product:last-child .item-logo {
  display: block;
  width: 100%;
  height: 46px;
  background: url("../images/fresh-logo.svg"), url("../images/sprite-products.png");
  background-size: 77%, 49%;
  background-repeat: no-repeat, no-repeat;
  background-position: 13px -6px, 103px -150px;
}
.nav-products .item-product:last-child .item-buy {
  position: relative;
  top: -3.46rem;
  left: 16.16rem;
  color: #cc3;
  font-size: 1rem;
  text-transform: uppercase;
  background: url("../images/buy-btn.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  padding: 0.16rem 0 1rem 0;
  display: block;
  height: 20px;
  width: 89px;
  text-indent: 1.9rem;
  top: -3.09rem;
  left: 16.29rem;
}
.nav-products .item-product:last-child .item-buy:hover {
  background: url("../images/buy-btn_hover.svg");
  background-repeat: no-repeat;
  background-size: 117%;
  background-position: -18px -34px;
  text-decoration: none;
}
.carousel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
/*margin-bottom .9rem*/
}
.carousel-indicators {
  bottom: 10rem;
}
.carousel-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel-inner {
  top: 38px;
}
.carousel-control {
  width: 7%;
}
.carousel-control:hover,
.carousel-control:focus {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.carousel-control.left {
  -webkit-background-image: gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  -ms-background-image: gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  -moz-background-image: gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
  background-image: gradient(rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);
}
.carousel-control.right {
  -webkit-background-image: gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
  -ms-background-image: gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
  -moz-background-image: gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
  background-image: gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
}
.carousel-caption h3 {
  color: #3d3a3a;
  text-shadow: none;
  width: 460px;
  margin: -55% auto 0 auto;
/*font-size 2.7875rem*/
  font-size: 26.45pt;
  text-transform: uppercase;
  font-weight: bold;
}
.carousel-caption hr {
  border-top: 2px solid rgba(34,31,31,0.3);
  width: 483px;
  margin-top: 18px;
  margin-bottom: 4px;
}
.carousel-caption p {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: none;
  color: rgba(78,76,77,0.9);
  font-weight: bold;
  font-size: 1.30166666667rem;
}
.carousel-caption_message {
  height: 58px;
  width: 100%;
  background: url("../images/caption-bg.svg") no-repeat;
  background-size: 101% 96%;
  background-position: -9px 7px;
  position: absolute;
  top: 71.2rem;
}
.carousel-caption_message p {
  font-size: 1.3rem;
  font-style: italic;
  line-height: 0.5rem;
}
.carousel-caption_message .caption_message-p {
  margin-top: 2.3rem;
}
.waterless-caption h3 {
  width: 300px;
  margin: -37% auto 0 auto;
}
.waterless-caption hr {
  width: 334px;
}
.footer {
  background: #000;
  margin-top: 1rem;
  padding: 0 2.9rem;
  line-height: 4.5rem;
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  bottom: 0;
}
.footer p {
  color: #fff;
}
.footer a {
  color: #fff;
  display: block;
  width: 100%;
  height: 40px;
}
.footer .brand-footer {
  position: relative;
  top: -2.5rem;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.leaf-restroom {
  background: url("../images/leaf.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 84%;
  height: 33rem;
  position: absolute;
  top: 8rem;
  left: 0;
  z-index: 1;
}
.power-item {
  position: absolute;
  left: 55rem;
  top: 17.55rem;
}
.power-item a {
  display: block;
  background: #000;
  text-align: center;
  width: 44%;
  text-transform: uppercase;
  padding: 0.3rem 0;
  margin: -2rem auto 0 auto;
  color: #fff;
  font-size: 1.5rem;
}
.power-item a:hover {
  text-decoration: none;
}
.power-item img {
  max-width: 90%;
}
.ekcos-item {
  position: absolute;
  top: 17rem;
  left: 19rem;
}
.ekcos-item a {
  display: block;
  background: #000;
  text-align: center;
  margin-top: 1rem;
  width: 44%;
  text-transform: uppercase;
  padding: 0.3rem 0;
  color: #fff;
  font-size: 1.5rem;
  margin: -2rem auto 0 auto;
}
.ekcos-item a:hover {
  text-decoration: none;
}
.ekcos-item img {
  max-width: 90%;
}
.restroom-message {
  background: url("../images/message-restroom.png");
  background-size: 100% 100%;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 5.2rem;
}
.restroom-advise {
  background: url("../images/advise-restroom.png");
  background-size: 100% 100%;
  height: 92px;
  width: 222px;
  position: absolute;
  top: 23.2rem;
  left: 97.5rem;
}
.power-wrapper {
  height: auto;
  width: 100%;
  position: relative;
  top: 5rem;
}
.powerscreen-container {
  background: url("../images/powerscreen-bg.jpg");
  background-size: 100%;
  position: relative;
  with: 100%;
  height: 61rem;
}
.powerscreen-features {
  position: relative;
  background: #cc3;
  background-size: 100% 100%;
  top: 40rem;
  width: 900px;
}
.powerscreen-features-items {
  padding-top: 1rem;
  font-size: 1.5rem;
}
.powerscreen-features-items ul {
  list-style: none;
}
.powerscreen-antisplash {
  height: auto;
}
.powerscreen-antisplash img {
  margin-top: -1rem;
}
.powerscreen-antisplash figcaption {
  margin-top: -1rem;
  font-style: italic;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.powerscreen-advise {
  width: 900px;
  background: rgba(34,31,31,0.3);
  position: relative;
  top: 43rem;
}
.powerscreen-advise p {
  width: 75%;
  margin: 0 auto;
  padding: 1rem 0;
}
.footer {
  display: none;
}
.container {
  width: 900px;
}
.powerscreen-features-container {
  background: url("../images/power-bg.jpg");
  background-size: 100%;
  background-position: 0 -2px;
  position: relative;
  with: 100%;
  height: 185rem;
}
.powerscreen-features-item {
  margin-top: 1rem;
}
.powerscreen-features-item figcaption {
  font-style: italic;
  font-weight: bold;
  letter-spacing: -0.1rem;
}
.powerscreen-features-legend {
  width: 900px;
  background: rgba(34,31,31,0.3);
  margin-top: 2rem;
  padding-top: 0.4rem;
}
.powerscreen-features-legend p {
  line-height: 1;
}
.powerscreen-features-title {
  background: #cc3;
  margin-top: 3rem;
}
.powerscreen-features-title h3 {
  font-size: 2em;
  font-weight: bold;
}
.powerscreen-features-list {
  width: 900px;
  position: relative;
  background-size: 100%;
  margin-top: 3rem;
}
.powerscreen-features-list .features-list-l {
  list-style: none;
}
.powerscreen-features-list .features-list-l li {
  margin: 0.3rem 0;
}
.powerscreen-features-list .features-list-l li:first-child {
  width: 93%;
}
.powerscreen-features-list .features-list-r {
  list-style: none;
}
hr {
  border-top: 2px solid #444;
}
.bio-container {
  background: url("../images/bio-bg.png") no-repeat;
  background-size: 100%;
  background-position: -129px 0;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 125rem;
  z-index: 1;
}
.bio-line {
  position: relative;
  top: 158rem;
  border-top: 2px solid #444;
  margin: 0 auto;
  width: 69%;
}
.power-products-container {
  margin-top: 30rem;
  height: 876px;
  position: relative;
  padding: 2rem 0;
  background: rgba(255,255,255,0.25);
}
.thumbnail {
  border: 0;
  background: transparent;
}
