@font-face {
  font-family: 'gandhi';
  src: url("../fonts/GandhiSans-Regular-webfontt.eot");
  src: url("../fonts/GandhiSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/GandhiSans-Regular-webfont.woff2") format('woff2'), url("../fonts/GandhiSans-Regular-webfont.woff") format('woff'), url("../fonts/GandhiSans-Regular-webfont.ttf") format('truetype'), url("../fonts/GandhiSans-Regular-webfont.svg#gandhi") format('svg');
  font-weight: normal;
  font-style: normal;
}
.active {
  color: #cc3 !important;
}
body {
  font-family: 'gandhi';
  background: #d6e0c1;
  font-size: 16px;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
li {
  margin-left: 1em;
}
.navbar.navbar-default.navbar-fixed-top {
  background: rgba(217,220,218,0.9);
  border-color: transparent;
  padding: 22px 0;
  height: 76px;
}
.navbar-default .navbar-nav li > a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
}
.navbar-default .navbar-nav li > a:hover {
  color: #cc3;
}
.navbar-default .navbar-nav li:nth-child(2),
.navbar-default .navbar-nav li:nth-child(3),
.navbar-default .navbar-nav li:nth-child(4),
.navbar-default .navbar-nav li:nth-child(5) {
  margin-left: -0.1rem;
}
.navbar-default .navbar-nav li:last-child {
  position: absolute;
  left: 40.3rem;
  top: -2px;
  width: 335px;
  background: url("../images/view-cart.svg") no-repeat 100% 100%;
  background-position: 0 -14px;
}
.navbar-default .navbar-nav li:last-child:hover {
  background: url("../images/view-cart_hover.svg") no-repeat 100% 100%;
  background-position: 0 -14px;
}
.navbar-default .navbar-nav li:last-child > a {
  color: #000;
  margin-left: 6rem;
  text-transform: uppercase;
}
.navbar-default .navbar-nav li:last-child > a:hover {
  color: #000;
}
.navbar-default .navbar-nav li:last-child > a > img {
  width: 25%;
  position: absolute;
  top: -0.6rem;
}
.nav.navbar-nav.navbar-right {
  margin-right: 3.5rem;
}
.navbar-header {
  margin-top: -22px;
}
.brand {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: -13px;
  left: -7px;
}
.brand img {
  max-width: 100%;
  width: 500px;
}
.main-menu {
  top: -1rem;
  left: -14.5rem;
  position: relative;
}
