.company-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.company-container
	background url('../images/power-bg.jpg') no-repeat
	background-size 100%
	position relative
	with 100%
	height 58rem
	.company-title
		top 27rem
		margin 0 auto
		position relative
		width 35%
		line-height 27px
		font-size 1.7rem
.footer-company 
	display block
		