@import "helpers/_mixins"

a:hover
	text-decoration none
	color black 

.contact-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.contact-container
	background url('../images/power-bg.jpg') no-repeat
	background-size 100% 100%
	position relative
	with 100%
	height 313rem
	.contact-quote-container
		margin-top 15rem
		.contact-quote-title
			border-bottom 2px solid rgba(0,0,0,.3)
			margin 0 auto
			width 25%
			font-size 4rem
			margin-bottom 2rem
			text-transform uppercase

.container-c
	width 1000px
	margin 1rem auto 0 auto
	padding-top 1rem

.contact-links-title
	height 70px
	line-height 10px
	background rgb(204,204,51)
	width 94rem
	h3
		font-size 2.4rem
		font-weight bold
		margin-top 1rem
	.flag 
		display block  
		width 110px 
		height 110px
		background url('../images/contact-sprite.png')
		background-repeat no-repeat
		background-position 1px -1px 
		background-size 1060px
		position absolute
		top -2.5rem
		left -2.4rem 

.contact-links-title-int
	height auto
	padding 1rem 0
		
.contact-links-content
	margin 2rem auto 1rem auto
	height 130px
	padding 1rem 2rem
	width 80%
	background rgba(0,0,0,.2)
	line-height 18px
	font-size 1.5rem
	.contact-links-content_author, .contact-links-content_author-x,
	.contact-links-content_author-mex
		border-bottom 2px solid rgba(0,0,0,.3)
		width 42%
		font-weight bold
	.contact-links-content_author-x
		width 65%
	.contact-links-content_author-mex
		width 50%
	.contact-links-content_mail, .contact-links-content_phone 
		color black
		font-weight bold
		display block
	.info-container 
		border 2px dashed rgba(0,0,0,.3)
		height 125px
		width 111%
		margin -.7rem 0 -.7rem -1.8rem
		padding .1rem .7rem
		.contact-links-content_mail
			font-weight normal
	
.mail-margin
	margin-top -1rem

.contact-links-title_mex
	height 85px
	margin-left 3rem
	width 91rem

.mex 
	background-position 1px -108px !important
	background-size 1060px !important
	position absolute
	top -1.5rem !important
	left -5.4rem !important

.contact-links-header,
.contact-links-header-cam,
.contact-links-header-sk
	margin 3rem auto 1rem auto
	height 60px
	padding .1rem 3rem
	width 80%
	background rgba(0,0,0,.2)
	line-height 15px
	font-size 1.5rem

.flag-int 
	display block  
	height 90px !important
	width 90px !important
	background url('../images/contact-sprite.png')
	background-repeat no-repeat
	background-position 1px -1px 
	background-size 1060px
	position absolute
	top -2.5rem
	left -2.4rem 

.contact-links-header-cam
	width 53rem !important
	position relative
	left -23.6rem
	top 6rem
	

.nz 
	background-position -127px -14px !important
	flag-structure()

.ca 
	background-position -212px -14px !important
	flag-structure()

.sp
	background-position -303px -14px !important
	flag-structure()

.co
	background-position -392px -14px !important
	flag-structure()

.pa 
	background-position -482px -14px !important
	flag-structure()

.po
	background-position -570px -14px !important
	flag-structure()

.dom
	background-position -663px -14px !important
	flag-structure()

.sa
	background-position -749px -14px !important
	flag-structure()

.ci 
	background-position -835px -22px !important
	flag-structure()

.flag-cam 
	width 45rem
	height 90px
	display block
	background url('../images/contact-sprite.png') no-repeat
	background-position -111px -128px
	background-size 246%
	position absolute
	left -0.7rem
	top -9rem


.contact-links-header-info
	position relative
	top 6rem
	padding 0 1rem


.row-country 
	margin-bottom: 12rem;
	
.nz-line, 
.ca-line, 
.sp-line,
.co-line,
.pa-line,
.po-line,
.dom-line,
.sa-line,
.ci-line
	width 73%
	margin-left 0
	margin-top  -1rem
	margin-bottom .5rem

.sp-line 
	width 16%

.ca-line,
.po-line  
	width 20%

.co-line 
	width 25%

.pa-line
	width 22%

.dom-line 
	width 61%
	
.sa-line 
	width 35%
	
.ci-line
	width 43%

.content-countries
	margin-top 1rem

.content-mail 
	color black
	letter-spacing 1px
	font-weight bold
	margin-top 2rem
	display block
	font-size 1.5rem
	&:hover 
		text-decoration none

.content-phone 
	font-weight bold
	font-size 1.3rem

.content-address
	font-size 1.1rem
	line-height 8px

.country-divider
	width 100%
	position relative
	top 13rem
	width 94%
	left -3rem

.country-divider-cam
	top 5rem
.contact-links-header-cam
	height 100px


.contact-links-divider 
	width 90%
	margin 0 0 .8rem 0

.contact-asia-divider
	width 98.5%

.contact-divider-cam
	width 97%
.cam-services-divider
	margin 0 0 -2rem 0
	width 23.4%
	
.cam-services-phone
	margin-top 1rem
	font-weight bold

.cam-services-address 
	line-height 10px
	font-size 1.1rem

.cam-services-gt
	margin-bottom 3rem	

.contact-links-header-asia
	top 10rem
	width 45rem !important
	margin 4rem 22rem

.contact-links-header-info-asia,
.contact-links-header-info-sk
	margin-top 13rem
	padding-left 1rem

.content-mail-asia
	margin-top 0

.asia-services-divider
	margin 0 0 -2rem 0
	width 30.4%

.asia-services-phone 
	margin-top 4rem

.asia,
.sk 
	top 1rem !important
	
.flag-asia 
	background-position -653px -120px
	top -10rem
	background-size 246%
	left 0 
	height 94px

.footer-contact
	display block 
	position relative
	top 317rem

.contact-links-header-sk
	height 75px
	top -2rem
	width 17.8rem !important
	left -39rem
.contact-links-header-info-sk
	margin-top -2rem

.content-mail-sk 
	margin-top 1rem
.contact-links-header-ci
	margin 2rem auto 1rem auto










