.eztrap-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.eztrap-container
	background url('../images/eztrap-bg.png') no-repeat
	background-size 100% 104.5%
	background-position 0 -80px
	position relative
	with 100%
	height 124.5rem
	
.eztrap-features
	position relative
	background rgba(34,31,31,.3)
	/*background rgb(204,204,51)*/
	background-size 100% 100%
	top 84rem
	width 900px
	padding .6rem 0 0 0 
	.eztrap-p 
		line-height 15px
		font-size 1.5rem
	
.eztrap-legend
	position relative
	top 85rem
	width 900px
	padding .6rem 0 0 0 
	.col-ez-items-left, .col-ez-items-right 
		display inline-block 
		vertical-align middle 
		width 45%
	.col-ez-items-left
		width 45%
		text-align left
		h3 
			margin-top -.3rem
			font-weight bold
	.col-ez-items-right 
		border-left 2px solid #444
		text-indent 1rem

.eztrap-main-features
	border-top 2px solid #444
	border-bottom 2px solid #444
	top 87rem
	position relative
.eztrap-features-strong
	position relative
	background rgb(204,204,51)
	background-size 100% 100%
	top 86rem
	width 900px
	padding .6rem 0 0 0 
	.eztrap-y 
		line-height 15px
		font-size 1.5rem

.eztrap-features-container
	background url('../images/power-bg.jpg')
	background-size 100% 101%
	background-position 0 -2px
	position relative
	with 100%
	height 160rem
	top -4rem

.eztrap-z
	text-transform uppercase
	font-size 1.5rem
	font-weight bold

.eztrap-features-fluid,
.eztrap-plumbing-fluid
	height 234px 
	width 100%
	position relative
	top 0rem
	background rgba(255,255,255,.4)
	padding 2rem 0
	
.container-ez 
	margin 0 auto
	width 900px
	height auto
	pading 1rem 0
	
.eztrap-benefits,
.eztrap-benefits-message
	position relative
	background rgba(34,31,31,.3)
	/*background rgb(204,204,51)*/
	background-size 100% 100%
	top 2rem
	width 900px
	padding .6rem 0 0 0 

.eztrap-benefits-message
	top 15rem
	h3 
		margin-top -1rem
	
.eztrap-benefits-list 
	list-style none
	
.eztrap-benefits-p-container
	border-left 2px solid #444
	padding 2rem 0
	.eztrap-benefits-p
		line-height 17px

.eztrap-features-requirements
	position relative
	background rgb(204,204,51)
	background-size 100% 100%
	top 5rem
	width 900px

.eztrap-requirements-title h3
	font-size 2.5rem
	font-weight bold
	
.eztrap-iso
	position relative 
	top 8rem
	line-height 15px

.ez-basic-info
	position relative
	top 10rem
	h4
		background black
		color rgb(204,204,51)
		font-weight bold
		padding 1rem 0

.row-ez 
	margin-left -15px
	margin-right -15px

.ez-info-left,
.ez-info-right 
	padding 0
	
.ez-info-right 
	padding-left 15px

.ez-info-left 
	padding-right 15px


.ez-clean-it
	font-size 1.5rem
	p 
		margin 0

.ez-maintain-it
	font-size 1.5rem
	p 
		margin 0

.eztrap-plumbing-fluid
	top 12rem
	height 245px

.eztrap-benefits-buy
	position relative 	
	top 18rem
	padding 1rem 0
	background rgba(255,255,255,0.4)
	.eztrap-buy-container
		margin-top 2.5rem
		line-height 14px
		h5 
			font-weight bold
		p 
			font-size 1.5rem
		.eztrap-buy-btn 
			background black
			color white
			text-transform uppercase
			font-size 1.4rem
			padding 1rem 1.3rem
			display block 
			margin 1rem auto 0 auto 
			width 20%
			border-bottom 4px solid rgb(204,204,51)
			&:hover 
				background lighten(black, 20%)
	.eztrap-buy-logo 
		img
			margin-top 5rem
			display block

.footer-eztrap
	background: #000;
	margin-top: 1rem;
	padding: 0 2.9rem;
	line-height: 4.5rem;
	position: absolute;
	width: 100%;
	height: auto;
	font-size: 1.3rem;
	p 
		color $text-color-light 
	a
		color $text-color-light 
		display block
		width 100%
		height 40px
	.brand-footer
		position relative
		top -2.5rem


.eztrap-waterless
	display block 
	margin 0 auto
	position relative 
	top 22rem






























