.news-menu
	width 27rem
	height 13rem
	position absolute
	top 45rem
	left 13rem
	.btn-latest-news, 
	.btn-antisplash
		display inline-block
		width 49%
		height 100%
	.btn-latest-news
		background url('../images/sprite-news.png') no-repeat
		background-position 0 -6px
		background-size 262px
	.btn-antisplash
		background url('../images/sprite-news.png') no-repeat
		background-position -130px -6px
		background-size 262px