.news-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.news-container
	background url('../images/news-bg.jpg') no-repeat
	background-size 100%
	position relative
	with 100%
	height 127rem
	.news-quote-container
		margin-top 23rem
		.news-quote-title
			border-bottom 2px solid rgba(0,0,0,.3)
			margin 0 auto
			width 13%
			font-size 4.5rem
			margin-bottom 3rem
		.news-quote 
			line-height 10px
			font-size 1.5rem
		.news-quote-author 
			margin 3rem auto 0 auto
			border-bottom 2px solid rgba(0,0,0,.2)
			width 10%
			font-weight bold
		.news-quote-role 
			font-weight bold

.container-n
	width 1000px
	margin 5rem auto 0 auto
	padding-top 3rem

.news-links-title 
	background rgba(0,0,0,.1)

.news-links-date
	margin-top 1rem
	span 
		border-top 2px solid 
		margin-top 1rem
	.update
		width 70%
		display block
		
.news-links-access
	a 
		background rgb(0,0,0)
		padding .5rem 1rem
		margin-top .3rem 
		margin-left 7rem	
		color rgb(204,204,51)
		position relative
		top .3rem
		left 1.4rem 
		&:hover 
			background rgba(0,0,0, .7)	
			text-decoration none
			
.footer-news
	display block