.power-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.powerscreen-container
	background url('../images/powerscreen-bg.jpg')
	background-size 100%
	position relative
	with 100%
	height 61rem

.powerscreen-features
	position relative
	background rgb(204,204,51)
	background-size 100% 100%
	top 40rem
	width 900px

.powerscreen-features-items
	padding-top 1rem
	font-size 1.5rem
	ul 
		list-style none

.powerscreen-antisplash
	height auto
	img 
		margin-top -1rem
	figcaption 
		margin-top -1rem
		font-style italic
		font-size 1.5rem
		padding-bottom 0.5rem

.powerscreen-advise
	width 900px
	background rgba(34,31,31,.3)
	position relative 
	top 43rem
	p 
		width 75%
		margin 0 auto
		padding 1rem 0
	
.footer 
	display none

.container 
	width 900px
	
.powerscreen-features-container
	background url('../images/power-bg.jpg')
	background-size 100%
	background-position 0 -2px
	position relative
	with 100%
	height 185rem
.powerscreen-features-item
	margin-top 1rem
	figcaption 
		font-style italic 
		font-weight bold
		letter-spacing -0.1rem

.powerscreen-features-legend
	width 900px
	background rgba(34,31,31,.3)
	margin-top 2rem
	padding-top .4rem
	p
		line-height 1

.powerscreen-features-title
	background rgb(204,204,51)
	margin-top 3rem
	h3 
		font-size 2em
		font-weight bold
		
.powerscreen-features-list
	width 900px
	position relative
	background-size 100%
	margin-top 3rem
	.features-list-l
		list-style none
		li 
			margin .3rem 0
			&:first-child
				width 93%
	.features-list-r
		list-style none

hr 
	border-top 2px solid #444

.bio-container
	background url('../images/bio-bg.png') no-repeat
	background-size 100%
	background-position -129px 0
	width 100%
	height 300px 
	position absolute
	top 125rem
	z-index 1

.bio-line 
	position relative
	top 158rem
	border-top 2px solid #444
	margin 0 auto
	width 69%

.power-products-container
	margin-top 30rem
	height 876px
	position relative
	padding 2rem 0
	background rgba(255,255,255,.25)

.thumbnail 
	border 0
	background transparent







































