.waterless-wrapper
	height auto
	width 100%
	position relative
	top 5rem

.waterless-container
	background url('../images/powerscreen-bg.jpg')
	background-size 100%
	position relative
	with 100%
	height 61rem
