vendor(prop, val, prefixes = ())
	for prefix in prefixes 
		-{prefix}-{prop} val
	{prop} val 

smooting() 
	-webkit-font-smoothing antialiased

border-box() 
	vendor('box-sizing', arguments, moz webkit ms)

filterBlur()
	vendor('filter', arguments, webkit ms moz)

transform()
	vendor('transform', arguments, webkit ms moz)

bg-gradient()
	vendor('background-image', arguments, webkit ms moz)

transition-menu()
	vendor('transition', arguments, webkit ms moz)

item-buy()
	position relative	
	top	-3.46rem 
	left 16.16rem
	color $font-active-color
	font-size 1rem
	text-transform uppercase
	background url('../images/buy-btn.svg')
	background-repeat no-repeat 
	background-size 117%
	background-position -18px -34px
	padding .16rem 0 1rem 0
	display block
	height 20px
	width 89px
	text-indent 1.9rem
	&:hover 
		background url('../images/buy-btn_hover.svg')
		background-repeat no-repeat 
		background-size 117%
		background-position -18px -34px
		text-decoration none

flag-structure()
	background-size 1147px !important
	position absolute
	top 1rem !important
	left 2.3rem !important
	z-index 3