.carousel 
	position relative
	top 0
	height auto
	width 100%
	bottom 0
	/*margin-bottom .9rem*/

.carousel-indicators 
	bottom 0

.carousel-container 
	/*height 100%*/
	height auto
	width 100%
	position absolute
	top 0
	left 0
	right 0
	bottom 0

.carousel-indicators 
	bottom 0
	display none

.carousel, .item, .active 
	height 100% 
	
.carousel-inner
	height 100%
.carousel-inner 
	/*top 38px
	height 576px */
	height 100%
	top 0
.carousel-control 
	width 7%
	&:hover, &:focus
		filter unquote('alpha(opacity=' + 50 + ')')
		opacity .5

.carousel-control.left
	height 100% 
	bg-gradient gradient(rgba(0,0,0,.25) 0%, rgba(0,0,0,0.0001) 100%)
.carousel-control.right
	height 100%
	bg-gradient gradient(rgba(0,0,0,0.0001) 0%, rgba(0,0,0,.25) 100%)
	
.carousel-caption
	position relative
	top 39%
	z-index 3
	margin 0 auto 
	left 0
	h3
		color $carousel-title-color
		text-shadow none
		width 460px
		margin 0 auto 0 auto
		/*font-size 2.7875rem*/
		font-size 26.45pt
		text-transform uppercase
		font-weight bold
	hr 
		border-top 2px solid $carousel-line
		width 483px
		margin-top 18px
		margin-bottom 4px
	p
		margin-top 0
		margin-bottom 0
		text-shadow none
		color $carousel-content-color
		font-weight bold
		font-size 1.7rem

.antisplash-hr 
	width 353px !important
.carousel-caption_message
	height 58px
	width 100%
	background url('../images/caption-bg.svg') no-repeat
	background-size 101% 96%
	background-position -9px 7px
	position absolute
	top 71.2rem
	p 
		font-size 1.3rem
		font-style italic
		line-height 0.5rem 
	.caption_message-p
		margin-top 2.3rem

.waterless-caption
	top 50%
	h3 
		width 300px
		margin 0 auto 0 auto !important
	hr 
		width 334px

.carousel-inner > .item > img, .carousel-inner > .item > a > img
	height 0% !important 
	top -2rem !important 
	margin-top -37rem
	height auto !important 
	margin-top 3.3rem
	

.slider-01-bg 
	background url('../images/slider-01@1x.png') center center
	background-size cover
	width 100% 
	height 100% 
	background-position center 
	
.slider-02-bg 
	background url('../images/slider-02.jpg') center center
	background-size cover

.slider-03-bg 
	background url('../images/slider-03.jpg') center center
	background-size cover
	width 100% 
	height 100% 
	background-position center 

.slider-04-bg 
	background url('../images/slider-04.jpg') center center
	background-size cover
	width 100% 
	height 100% 
	background-position center 

.slider-size 
	height 680px

.slider-04-caption 
	bottom 10rem
	height auto 
	padding-bottom .5rem !important
	padding-top .5rem 
	background $ekcoscreen-bg-item

.is_invisible 
	display none

.is_visible 
	display block

@media screen and (min-width 220px) and (max-width 479px)
	.menuProducts-container 
		display none
	.news-menu 
		display none
	.slider-01-title 
		width 100% !important
		margin 0 auto -2rem auto !important
		font-size 1.8rem !important
	.carousel-caption 
		bottom 38%
		display none
		hr 
			width 74%
		h3 
			width 100%
			font-size 2.3rem
			margin 0 auto -2rem auto !important
		p 
			font-size 1.1rem 
	.buynow-container 
		display none
		top 8rem 
		right 2.5rem 
		img 
			width 8rem
	.slider-size 
		min-height 435px 
		background url('../images/sd-mobile01.jpg')
		background-size 100%
		background-repeat no-repeat
	.slider-02-bg 
		min-height 435px
		background url('../images/sd-mobile02.jpg')
		background-size 100%
		background-repeat no-repeat
	.slider-03-bg 
		background url('../images/sd-mobile03.jpg')
		background-size 100%
		background-position 50% 10%
	.slider-04-bg 
		min-height 435px
		background url('../images/sd-mobile04.jpg')
		background-size 100%
	.waterless-caption
		bottom 35%
		h3 
			width 85% !important
			margin 0 auto -2rem auto !important
	.waterless-hr 
		width 60% !important
	.carousel-indicators 
		bottom 11%
	.antisplash-hr 
		width 70% !important

@media screen and (min-width 220px) and (max-width 479px) and (min-height 480px) and (max-height 1200px)
	.slider-02-bg, .slider-03-bg, .slider-01-bg, .slider-04-bg
		background-size 115%
		background-repeat no-repeat
		background-position 50% 0
		
	.slider-03-bg
		background-size 115%
		background-repeat no-repeat
		background-position 50% 20%

@media screen and (min-width 480px) and (max-width 639px)
	.menuProducts-container 
		display none
	.news-menu 
		display none
	.buynow-container 
		right 3.5rem
	.slider-01-title 
		width 100% !important
		margin 0 auto -2rem auto !important
		font-size 2.3rem !important
		hr 
			width 100%
		h3 
			width 100% !important
			margin: -32rem auto -2rem auto !important;
			font-size: 2.5rem !important;
	.buynow-container 
		top 10rem 
		right 2.5rem 
		img 
			width 8rem
	.carousel-caption
		bottom 40%
		h3 
			width 100%
			font-size 2.6rem
			margin 0 auto -2rem auto !important
		p 
			font-size 1.9rem !important
	.slider-size 
		height 745px 
		background-size cover
		background-repeat no-repeat
		background-size 270% 122%
	.slider-03-bg 
		margin-top 4rem 
	.slider-01-title 
		font-size 2.9rem !important
		
	.waterless-caption h3 
		width 100% !important
		margin 0 auto -2rem auto !important
		font-size 2.9rem !important
	.waterless-slider-title 
		font-size 2.9rem !important
	.slider-04-bg 
		height 745px 
		background-size 179% 100% 
		background-repeat no-repeat 
		background-position -18.2rem 0


@media screen and (min-width 640px) and (max-width 767px)
	.buynow-container 
		right 3.5rem
	.news-menu 
		display none
	.menuProducts-container 
		display none
	.carousel-caption 
		bottom 38%
	.carousel-caption h3 
		margin 0 auto -2rem auto
	.slider-04-bg 
		background-size: 177% 98%;
		background-repeat: no-repeat

@media screen and (min-width 640px) and (max-width 767px) and (min-height 700px) and (max-height 1300px)
	.slider-size 
		height 1217px
		background-size 169% 100%

@media screen and (min-width 960px) and (min-height 640px)
	.carousel-caption h3 
		margin 0 auto 0 auto 
		width 450px 
		font-size 25.45pt 
	.menuProducts 
		top 20rem 
	.menuProducts-container 
		background-size 105% 
		width 317px 
		right 3.4rem
	.news-menu 
		left 5rem
		top 29rem
	.slider-02-bg 
		background-size cover
		background-repeat no-repeat
	.news-menu .btn-latest-news 
		background-position 0 -6px 
		background-size 220px
		width 42%
	.news-menu .btn-antisplash 
		background-position -116px -6px 
		background-size 220px
	.buynow-container 
		right 7.5rem
		img 
			width 90%
	.slider-03-bg 
		background-size cover
		background-repeat no-repeat
		background-position center
	.waterless-caption h3  
		width 361px !important 
		font-size 25.45pt  !important 
		margin-top -36rem 

//Generic styles for Netbook 10"
@media screen and (min-width 1024px) and (min-height 600px)
	.slider-size 
		height 680px

//Generic styles for Netbook 10"
@media screen and (min-width 1024px) and (min-height 768px)
	.slider-size 
		height 720px

//Generic styles for Netbook 10"
@media screen and (min-width 1280px) and (min-height 800px)
	.slider-size 
		height 745px
		
@media screen and (min-width 1280px) and (min-height 800px) and (max-height 1300px)
	.slider-size 
		height 900px
	.slider-03-bg 
		height 800px
	.slider-04-bg, .slider-02-bg 
		height 745px
	.menuProducts-container 
		top 35% 
		right 5%
	.menuProducts-Restroom
		top 35% !important
@media screen and (min-width: 1300px)
	.slider-size 
		height 629px
	
	.carousel-caption 
		padding-bottom: 30px
	.slider-01-bg 
		background url('../images/slider-01.jpg') center center
		background-size cover
	
	.slider-02-bg 
		background url('../images/slider-02.jpg') center center
		background-size cover

	.slider-03-bg 
		background url('../images/slider-03.jpg')
		background-size cover
		background-position center

	.slider-04-bg 
		background url('../images/slider-04.jpg') center center
		background-size cover
		background-position-y -58px 
	.carousel-caption
		h3
			color $carousel-title-color
			text-shadow none
@media screen and (min-width 1366px)
	.slider-size 
		min-height: 103% !important
	.slider-04-bg 
		background-position-y -9px
		
@media screen and (min-width 1370px)
	.carousel-caption
		h3
			color $carousel-title-color
			text-shadow none
		hr 
			width 683px
	.antisplash-hr
		width 260px !important
	.waterless-slider-title
		width 100% !important
	
	.waterless-hr 
		width 260px !important
	.slider-04-bg 
		background url('../images/slider-04.jpg') center center
		background-size cover
		background-position-y -79px 
		background-repeat no-repeat

@media screen and (min-width: 1400px)
	.slider-size 
		height 907px
	.slider-04-bg 
		background url('../images/slider-04.jpg') center center
		background-size cover
		background-position-y -56px 
		margin-top 1.5rem !important
	.slider-02-bg 
		background-position center
	.carousel-caption
		h3
			color $carousel-title-color
			text-shadow none
	.slider-03-bg 
		background url('../images/slider-03.jpg') center center
		background-size cover
		background-size 100%
		
@media screen and (min-width 1400px) and (min-height 790px )
	.slider-04-bg
		background url('../images/slider-08.jpg') center center
		background-size: cover
		background-repeat: no-repeat;
		margin-top: 3.4rem;
	.carousel-caption hr 
		width 450px
	

@media screen and (min-width 1500px)
	.slider-04-bg 
		background url('../images/slider-04.jpg') center center
		background-size cover
		background-repeat no-repeat
	.carousel-caption
		h3
			color $carousel-title-color
			text-shadow none
			width 100%
		hr 
			width 283px

@media screen and (min-width 1550px)
	.slider-04-bg 
		background url('../images/slider-04.jpg')
		background-size cover
		background-position: 0 -4rem;
		background-repeat no-repeat
		background-position center


@media screen and (min-width 1280px) and (min-height 801px) and (max-height 1300px)
	.slider-size 
		min-height 900px
		

@media screen and (min-width 1300px) and (min-height 600px) and (max-height 1300px)
	.slider-size 
		min-height 692px
		
@media screen and (min-width 1600px) and (min-height 600px) and (max-height 1300px)
	.slider-size 
		min-height 930px
