.carousel 
	position relative
	top 32px
	height 100%
	width 100%

.carousel-caption
	h3
		color $carousel-title-color
		text-shadow none
		width 460px
		margin -51% auto 0 auto
		font-size 3.38rem
		text-transform uppercase
		font-weight bold
	hr 
		border-top 2px solid $carousel-line
		width 483px
		margin-top 18px
		margin-bottom 18px
	p
		margin-top 0
		margin-bottom 0
		text-shadow none
		color $carousel-content-color
		font-weight bold
		font-size 1.55rem

.waterless-caption
	h3 
		width 300px
		margin -37% auto 0 auto
	hr 
		width 334px