.modal-content 
	background rgba(0,0,0,1)
	/*background url('../images/modalPower.png')*/
	border-radius 0
	height 100rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-header, .modal-footer
	border-bottom 0
	
.modal-content-eckos 
	background rgba(0,0,0,1)
	/*background url('../images/ekcos-modal.png')*/
	background-size 100%
	border-radius 0
	height 160rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-content-ez
	background rgba(0,0,0,1)
	/*background url('../images/eztrap-modal.png')*/
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-content-tru
	background rgba(0,0,0,1)
	/*background url('../images/truModal.png')*/
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-title 
	text-transform uppercase
	color $font-active-color
	font-weight bold 
	position relative 
	margin 1rem 0
	left 0.45rem 
	font-size 2.4rem 
	letter-spacing 3px
	span 
		text-transform none 