.modal-content 
	background rgba(0,0,0,1)
	/*background url('../images/modalPower.png')*/
	border-radius 0
	height 100rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-header, .modal-footer
	border-bottom 0
	
.modal-content-eckos 
	background rgba(0,0,0,1)
	/*background url('../images/ekcos-modal.png')*/
	background-size 100%
	border-radius 0
	height 160rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-content-ez
	background rgba(0,0,0,1)
	/*background url('../images/eztrap-modal.png')*/
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-content-tru
	background rgba(0,0,0,1)
	/*background url('../images/truModal.png')*/
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-title 
	text-transform uppercase
	color #000
	font-weight bold 
	position relative 
	margin 0 0 1rem 0
	left 0 
	font-size 1.4rem 
	padding .5rem 0
	letter-spacing 3px
	text-align center
	background $font-active-color
	span 
		text-transform none 
		
.row-power 
	display inline-block 
	vertical-align top 
	width 45%
	border 1px solid $font-active-color 
	margin 0 2.3%
	padding 0
	
.row-power-gallery
	width 95.4%
	margin 6rem auto 1rem auto
	border 1px solid $font-active-color  
	height 40rem 
		
@media screen and (min-width 200px) and (max-width 600px) and (min-height 480px)
	.modal-content 
		width 100% !important
		margin-left 0 !important
		height 210rem !important
	.modal-title 
		text-align center
	.docs-img, .img-responsive
		margin 0 auto
		
	.power-m
		display inline-block 
		vertical-align middle 
		width 48%
		margin .5rem 0 
		padding 0
	
	.ek-m, .ek-it, .ez-d, .ez-img, .tru-d
		display inline-block 
		vertical-align middle 
		width 48% 
		margin .5rem 0
		padding 0
		margin .5rem auto .5rem auto
	.ez-img, .tru-img 
		width 32%
	
	.ek-content
		height 250.5rem !important 
		
	.modal-content-ez 
		height: 132rem !important;
		
	.modal-content-tru 
		height 132rem !important
		
