.modal-content 
	background url('../images/modalPower.png')
	border-radius 0
	height 76rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-header, .modal-footer
	border-bottom 0
	
.modal-content-eckos 
	background url('../images/ekcos-modal.png')
	background-size 100%
	border-radius 0
	height 76rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-content-ez
	background url('../images/eztrap-modal.png')
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem
	
.modal-content-tru
	background url('../images/truModal.jpg')
	background-size 100%
	border-radius 0
	height 93rem
	background-repeat no-repeat
	width 806px
	margin 0 auto
	padding-left 0
	margin-left -8rem